extends layout

block content
  h1= title
  p Welcome to #{title}

  table.table
      tr
          th.th ID
          th.th Title
          th.th Status
      each val, index in results
          tr
            td.td #{val.Id}
            td.td #{val.Title}
            td.td #{val.Status}

