extends ../layout

block content
    .row
        .col-lg-12
            h1.page-header Task Lists
    .row
        .col-lg-12
            #{message_type}
            .panel-body
                table.table.table.table-striped.table-bordered.table-hover
                    tr
                        th ID
                        th Title
                        th Status
                        th Action
                    each val, index in results
                        tr
                            td #{val.Id}
                            td #{val.Title}
                            td #{val.Status}
                            td
                                a(href='/Tasks/#{val.Id}')
                                    i.fa.fa-pencil.fa-fw

                                a(href='#')
                                    i.fa.fa-trash.fa-fw